@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a solid 1px;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  background: url("../images/home/sunshineglimmer.jpeg") no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.454);
}

.hero.forums::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.454);
}

.hero * {
  z-index: 1;
}

.hero.forums {
  background: url("../images/home/animebackgroundforum.jpeg") no-repeat center
    center/cover;
  height: 50vh;
}

/* icons */
.icons {
  padding: 20px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}

.team img {
  border-radius: 50%;
}

/* Form */
.callback-form {
  padding: 20px 0;
  width: 100%;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a;
}

.callback-form .btn {
  padding: 12px 0;
  margin-bottom: 20px;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.post .meta {
  margin-bottom: 30px;
}

.flex-columns.column.forum.about {
  color: #333;
}

.column-2.forum {
  color: #333;
  border: 1px solid #333;
}

.column-2.forum .btn {
  border: 1px solid #333;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  background: #28a;
  opacity: 0.9;
}

.footer a {
  color: #f5f5f5;
}

.footer a:hover {
  color: #333;
  opacity: 0.9;
}

.footer .social > * {
  margin-right: 30px;
}

.forums p,
h2 {
  color: #333;
}

.forums .btn {
  border: 1.5px solid #333;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    height: 120px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 3px;
  }

  .hero .content h1 {
    font-size: 40px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  #section-header h2 {
    font-size: 25px;
  }

  .team img {
    width: 70%;
  }

  .footer div {
    font-size: 13px;
  }
}
